.c-logo {
  @include generic-heading();
  @include font-size(major, smaller-viewport);
  text-decoration: none;
  color: get-color(pink);
  transition: get-transition(transform), get-transition(scale);

  &:visited {
    color: get-color(pink);
  }

  &:active {
    transform: translateY(2px) scale(0.95);
  }

  @include mq($from: $LOOM-typography-breakpoint) {
    @include font-size(major, larger-viewport);
  }
}
