.c-summary {
  margin-bottom: get-spacing('xsmall');
  border-left: 12px solid get-color('pink');
  padding-left: get-spacing('xsmall');
}


.c-summary__title {

}


.c-summary__strapline {

}


.c-summary__date {

}
