a {
  color: get-color('pink');

  &:hover {
    color: get-color('black');
  }

  &:visited {
    color: darken(get-color('pink'), 50%);
  }
}

@font-face {
  font-family: 'roboto-slab-bold';
  src: url('/fonts/RobotoSlab-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-slab-regular';
  src: url('/fonts/RobotoSlab-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

blockquote {
  border-left: get-spacing(xsmall) solid get-color(gray);
  margin-left: 0;
  padding: get-spacing(xsmall) get-spacing(small);
  font-style: italic;

  p:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: 1.2px;
  line-height: 1.2;

  .fonts-loaded & {
    letter-spacing: initial;
    line-height: 1.2;
    margin-bottom: get-spacing(xsmall);
  }
}
