.c-nav-button {
  @include button(
    $border-radius: 0,
    $background-color: get-color(gray),
    $padding-horizontal: get-spacing(xsmall),
    $padding-vertical: get-spacing(xsmall)
  );
  @include font-size(sub);
  display: block;
  height: 100%;
  transition: get-transition($property: transform, $duration: 0.01s), get-transition($property: scale, $duration: 0.01s);

  &:active {
    transform: translateY(2px) scale(0.97);
  }
}
