<header class="site-header o-container">

    <nav class="site-nav l-grid">
      <div class="l-grid__item l-col-3-of-12">
        <a class="o-h-alpha" href="{{ site.baseurl }}/">
          sonniesedge
        </a>
      </div>

      <div class="l-grid__item l-col-9-of-12">
        <ul class="o-list-inline">
          {% assign pages = site.pages | sort: 'weight' %}
          {% for p in pages %}
            {% if p.menu == 'main' %}
              <li class="o-list-inline__item">
                 <a class="o-button" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>


</header>
