<header class="site-header wrapper">

    <nav class="site-nav flex flex--wrap">
      <div class="flex__item">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="flex__item">
        <ul class="inline-list">
          {% assign pages = site.pages | sort: 'weight' %}
          {% for p in pages %}
            {% if p.menu == 'main' %}
              <li class="inline-list__item">
                 <a class="btn" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>


</header>
