<header class="site-header o-container">

    <nav class="site-nav l-grid l-grid--align-items-center">
      <div class="l-grid__item l-col-4-of-12@medium">
        <a class="c-logo" href="{{ site.baseurl }}/">
          sonniesedge
        </a>
      </div>

      <div class="l-grid__item l-col-8-of-12@medium">
        <ul class="o-list-reset c-nav-list">
          {% assign pages = site.pages | sort: 'weight' %}
          {% for p in pages %}
            {% if p.menu == 'main' %}
              <li class="c-nav-list__item">
                 <a class="c-nav-button" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>


</header>
