.comp-footer {
    padding-top: get-spacing('xsmall');
    @include font-size('sub');
    border-top: 1px solid get-color('gray');
    @include mq(get-mqbreakpoint('medium')) {
        display: flex;
        justify-content: space-between;
    }
}

.comp-footer__text {
    margin: 0;

    @include mq(get-mqbreakpoint('medium')) {
        flex-basis: 50%;
    }
}

.comp-footer__contacts {
    @include mq(get-mqbreakpoint('medium')) {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 40%;
    }
}