.comp-mainlayout {
    padding: 0 get-spacing('small');
    margin: get-spacing('small') auto;
    max-width: 1200px;

    @include mq(get-mqbreakpoint('medium')) {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-column-gap: get-spacing('small');
        grid-template-areas:
        "sidebar content"
        "sidebar content"
        "footer footer";
    }
}

.comp-mainlayout__sidebar {
    grid-area: sidebar;
}

.comp-mainlayout__content {
    grid-area: content;
    min-width: 0;
}

.comp-mainlayout__footer {
    grid-area: footer;
}