
<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>{{title}} | sonniesedge</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="pingback" href="https://webmention.io/sonniesedge.co.uk/xmlrpc" />
        <link rel="webmention" href="https://webmention.io/sonniesedge.co.uk/webmention" />
    </head>
    <body>
        <div class="c-mainlayout">
            <header>
                <nav>
                    <ul class="c-nav">
                        {% for item in mainnav %}
                            {% if item.path == '//' %}
                                {% set newpath = '/' %}
                            {% else %}
                                {% set newpath = item.path %}
                            {% endif %}
                            <li class="c-nav__item {% if item.path == path %}c-nav__item--current{% endif %}"><a class="c-nav__link" href="{{ newpath }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main>
                {% block content %}
                    <h1>{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</h1>
                    {{ contents | safe }}
                {% endblock %}

                {% block list %}
                {% endblock %}
            </main>
            <footer class="c-footer">
                <p class="c-footer__text">&copy; Some shit about copyright and year that isn't actually in any way relevant or legal, but is a classic "we've always done it like that" thing.</p>
                
                <ul>
                  <li>Email: <a href="mailto:charlie@sonniesedge.co.uk" rel="me">charlie@sonniesedge.co.uk</a></li>
                  <li>Twitter: <a href="https://twitter.com/sonniesedge" rel="me">@sonniesedge</a></li>
                  <li>Github: <a href="https://github.com/sonniesedge" rel="me">@sonniesedge</a></li>
                </ul>

            </footer>
        </div>
    </body>
</html>
