
<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>{{title}} | {{ site.title }}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Back off man, I'm a web developer.">
        {% block twittercard %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@sonniesedge">
        <meta name="twitter:title" content="Back off man, I'm a web developer | sonniesedge">
        <meta name="twitter:url" content="http://sonniesedge.co.uk/">
        <meta name="twitter:description" content="Sonniesedge: Human, web developer, redhead.">
        <meta name="twitter:image:src" content="http://sonniesedge.co.uk/images/pages/photo.jpg">
        {% endblock %}
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <link rel="alternate" type="text/xml" title="RSS feed" href="{{ site.url }}/rss.xml">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="pingback" href="https://webmention.io/sonniesedge.co.uk/xmlrpc" />
        <link rel="webmention" href="https://webmention.io/sonniesedge.co.uk/webmention" />
    </head>
    <body>
        <div class="comp-mainlayout">
            <nav class="comp-sidebar comp-mainlayout__sidebar">
                <a href="/about/" class="comp-sidebar__photoframe"><img src="/images/pages/photo.jpg" class="u-photo comp-sidebar__photo" alt="A photo of Charlie Owen. She is white, with red hair, and green eyes."></a>
                <ul class="comp-sidebar__list">
                    {% for item in mainnav %}
                        {% if item.path == '//' %}
                            {% set newpath = '/' %}
                        {% else %}
                            {% set newpath = item.path %}
                        {% endif %}
                        <li class="comp-sidebar__item {% if item.path == path %}comp-sidebar__item--current{% endif %}"><a class="comp-sidebar__link" href="{{ newpath }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>

            </nav>
            <main class="comp-mainlayout__content">
                {% block content %}
                    <h1>{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</h1>
                    {{ contents | safe }}
                {% endblock %}

                {% block list %}
                {% endblock %}
            </main>
            <div class="comp-footer comp-mainlayout__footer">
                <p class="comp-footer__text">&copy; Some shit about copyright and year that isn't actually in any way relevant or legal, but is a classic "we've always done it like that" thing.</p>
                
                <ul class="comp-footer__contacts">
                  <li>Email: <a href="mailto:charlie@sonniesedge.co.uk" rel="me">charlie@sonniesedge.co.uk</a></li>
                  <li>Twitter: <a href="https://twitter.com/sonniesedge" rel="me">@sonniesedge</a></li>
                  <li>Github: <a href="https://github.com/sonniesedge" rel="me">@sonniesedge</a></li>
                  <li><a href="https://github.com/sonniesedge/sonniesedge-website">View the site source on Github</a>.</li>
                </ul>

            </div>
        </div>
    </body>
</html>
