{% extends "default.njk" %}
{% block list %}
    <ul class="comp-postslist">
    {% for post in posts %}
        <li class="comp-postslist__item">
            <a href="{{ post.path }}" class="comp-postslist__link">
                <p class="comp-postslist__title">{{ post.title }}</p>
                <p class="comp-postslist__date">{{ post.date }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}