  {% extends "default.njk" %}
  
  {% block content %}
  <article>
      <h1>{% if realtitle %}{{ realtitle }}{% else %}{{ title }}{% endif %}</h1>
      {{ contents | safe }}
  </article>
  {% endblock %}