.teaser-list {
  @include reset-list;
}

.teaser {
  border: 1px solid $color-light-grey;
  padding: $unit-padding;
  margin-bottom: $unit-padding;
}

.teaser__link {
  @include naked-link;
  @include camoflaged-link;
}

.teaser__title {
  line-height: 1.2;
}
