{{ define "main" }}
	<article>
		<header>
			<div class="c-post-title">
				<h1>{{ .Title }}</h1>
				<p>{{ .Params.strapline }}</p>
			</div>
			<ul class="c-post-strapline">
				<li>Published: <time>{{ .Date.Format "January 2, 2006" }}</time></li>
				<li>
					Reading time:
					{{ if le .ReadingTime 1 }}
					  mere seconds.
					{{ else }}
					  {{ .ReadingTime }} minute{{ if ge .ReadingTime 2 }}s{{ end }}.
					{{ end }}
				</li>
			</ul>
		</header>

		{{ .Content }}

		<section>
			<header>
				<h1>Tags</h1>
			</header>
			<ul id="tags">
				{{ range .Params.tags }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
		</section>

	</article>
	{{ partial "sidebar.html" . }}

{{ end }}
